@model IEnumerable<Delivery.Web.Data.Entities.RepartidorEntity>

@{
    ViewData["Title"] = "Repartidores";
}

<h2>Repartidores</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRepartidor" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdRepartidor" class="btn btn-info">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRepartidor" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
